.call-interface {
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.scroller {
    display: flex;
    grid-auto-flow: column;
    overflow-x: auto;
    background: #FFFFF9;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.webcam {
    margin-right: 5px;
    width: 180px;
    height: 101px;
    background: #333333;
}

.chosen-webcam {
    margin-right: 5px;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
}

.option {
    margin-right: 5px;
    width: 100%;
    height: 100%;
    background: #333333;
}

.options {
    margin-right: 5px;
    width: 100%;
    height: 100%;
    background: #333333;
}

.angry-grid {
    display: grid;

    grid-template-rows:  1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    gap: 0;
    height: 100%;

}

#item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 7;

}

#item-1 {
    background: url("/static/HomePage/img/no-cam.jpeg") 50%;

    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 4;

}

#item-3 {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-end: 5;
    background: #333333;
}

.people-webcam {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.webcam-container {
    background-color: #0D4D9B;
    height: 23vh;
    width: 16%;
    min-width: 224px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}

.initials {
    color: #FFFFF2FF;
    flex: 0 0 auto;
    font-size: 8vh;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #4080CD;
    box-shadow: 3px 3px 9px #043065;
}

.ui-button {
    border: white;
    background: #4080CD;
    box-shadow: 3px 4px 8px black;
    margin-left: 5px;
    padding: 25px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

svg{
    color: white;
}

.ui-button:hover {
    background: #0D4D9B;
}

#webcam-icon-off {
    display: none;
}

#mic-icon-off {
    display: none;
}

.button-bar {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    align-content: center;
    left: 14%;
}

.chosen-webcam:hover .button-bar {
    display: flow-root;
}
