{% extends 'HomePage/base.html' %}
{% block usage %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static '/HomePage/css/main.css' %}>
{% endblock usage %}
{% block content %}
    <div class="container" id="container">
        <div class="form-container aunty">
            <form action="#" method="post">
                {% csrf_token %}
                <h1>Авторизаиця</h1>
                <span>Вход через соц. сети</span>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>или используя логин</span>
                <input type="username" name="username" placeholder="Логин (Ivanov123)"/>
                <input type="password" name="password" placeholder="Пароль (Ivanov123)"/>
                <button>Войти</button>
                {% for message in messages %}
                    <h3 style="color: #FF4B2B">Ошибка входа. Неверные данные.</h3>
                {% endfor %}
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Добро пожаловать!</h1>
                    <p>Чтобы пользоваться услугами сервиса, пожалуйста, авторизируйтесь</p>
                    <span>Нет аккаунта? Пройдите регистрацию</span>
                    <a href="{% url 'sign-up' %}">
                        <button class="ghost" id="signUp">Зарегестрироваться</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
